
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color:black ;

    background-image: url(../images/bg_historique.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 
@media (max-width: 768px) {
    body {
        background-position: top;
    }
}

header,
footer,
main,
section {
    background: transparent !important;
}


.glass-box {
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 10px 40px rgba(0รง, 0, 0, 0.4);         
    max-width: 900px;
    margin: auto;
    padding: 35px;

    color: black;
}

section {
    padding: 20px;
}

.glass-box h4 {
    margin-top: 25px;
    font-weight: bold;
}

.glass-box h4:first-child {
    margin-top: 0;
}