.navbar {
    display: flex;
    border-radius: 16px;
    border: 1px solid white;
    justify-content: space-between;
    padding : 10px 20px ;
}
body{
    display: block;
    margin: 0px 10px;
    background: linear-gradient(135deg, #061a3a, #0a2a5f, #0e3a80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/**
.glass index.html
.glass-box historique.html
.glass-card jason
.glass-card bayon.html
.glass-form inscription.html
*/
.glass-card {
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);         
   max-width: 900px;
    margin: auto;
    padding:20px;
}
* {
    color: white;
}
.card-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero {
  padding: 100px 20px;
}
.glass-footer {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.glass-card:hover {
  transform: translateY(-6px);
}
       
.glace{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin:3%;
}
    
 .marq{
  display: inline;
  transform: translateX(-50px);
  transition: all 1.5s ease;
 }
.marq:hover{
  opacity: 1;
  transform: rotateX(0);
  }