.navbar {
    display: flex;
    border-radius: 16px;
    border: 1px solid white;
    justify-content: space-between;
    padding : 10px 20px ;
}
.text-center{
  color:white;
}
.glass-nav {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body{
background: linear-gradient(135deg, #061a3a, #0a2a5f, #0e3a80);

}
